NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
CLIENT_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/walletwhiz_backend
JWT_SECRET=change-this-in-real-use
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_TTL_DAYS=30
BCRYPT_SALT_ROUNDS=10
